[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/commana/commana.github.io.git
	branch = master
[submodule "themes/hugo-tufte"]
	path = themes/hugo-tufte
	url = https://github.com/shawnohare/hugo-tufte
